<div id="<%= dom_id wallet %>">
  <p>
    <strong>Name:</strong>
    <%= wallet.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= wallet.icon %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= wallet.color %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= wallet.balance %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= wallet.deleted_at %>
  </p>

</div>
