<div class="col-12">
  <div class="card recent-sales overflow-auto">

    <div class="card-body">
      <h5 class="card-title">Recent Transactions</h5>

      <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
        <div class="dataTable-container">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">S.N</th>
                <th scope="col">Description</th>
                <th scope="col">Category</th>
                <th scope="col">Wallet</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <% @recent_transactions.each.with_index(1) do |transaction, i| %>
                <tr>
                  <td><%= i %></td>
                  <td>
                    <%= transaction.notes %>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <%= render 'shared/avatar_icon', color: transaction.category.color, icon: transaction.category.icon %>
                      <%= transaction.category.name %>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <%= render 'shared/avatar_icon', color: transaction.wallet.color, icon: transaction.wallet.icon %>
                      <%= transaction.wallet.name %>
                    </div>
                  </td>
                    <td class="<%= amount_colorize(transaction.transaction_type) %>"><%= amount_to_currency(transaction.amount) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>
</div>
