<div class="col-lg-12 col-xl-6">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <%= form_with(model: transaction) do |form| %>
        <% if transaction.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

            <ul>
              <% transaction.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="col-12 mb-2">
          <%= form.label :transaction_at, class: 'form-label' %>
          <%= form.datetime_field :transaction_at, class: 'form-control' %>
        </div>

        <div class="col-12 mb-2">
          <%= form.label :notes, class: 'form-label' %>
          <%= form.text_area :notes, class: 'form-control' %>
        </div>

        <div class="col-12 mb-2">
          <%= form.label :amount, class: "form-label" %>
          <%= form.text_field :amount, class: 'form-control' %>
        </div>

        <div class="col-12 mb-2" data-controller="choice-select">
          <%= form.label 'Wallet', class: "form-label" %>
          <%= form.collection_select :wallet_id, @wallets, :id, :name, {include_blank: false}, {class: 'form-control', data: {choice_select_target: 'select'}} %>
        </div>

        <div class="col-12 mb-2" data-controller="choice-select">
          <%= form.label :category_id, class: "form-label" %>
          <%= form.collection_select :category_id, @categories, :id, :name, {include_blank: false}, {class: 'form-control', data: {choice_select_target: "select"}} %>
        </div>

        <div>
          <%= form.submit nil, class: 'btn btn-success mt-2' %>
          <%= link_to "Cancel", transactions_path, class: 'btn btn-danger mt-2' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
