<section class="section">
  <div class="row">
    <div class="col-12">

      <div class="card">

        <div class="card-body">

          <div id="<%= dom_id transaction %>">
            <table class="table">
              <thead>
                <tr>
                  <th>Transaction Type</th>
                  <td><%= @transaction.transaction_type.humanize %></td>
                </tr>
                <tr>
                  <th>Transaction Date</th>
                  <td><%= format_date @transaction.transaction_at %></td>
                </tr>
                <tr>
                  <th>Category</th>
                  <td><%= @transaction.category.name %></td>
                </tr>
                <tr>
                  <th>Wallet</th>
                  <td><%= @transaction.wallet.name %></td>
                </tr>
                <tr>
                  <th>Amount:</th>
                  <td><%= amount_to_currency @transaction.amount %></td>
                </tr>
                <tr>
                  <th>Notes:</th>
                  <td><%= @transaction.notes %></td>
                </tr>
              </thead>
            </table>
            <tfoot>
              <div class="d-flex">
                <%= link_to "Edit", edit_transaction_path(@transaction), class: 'btn btn-success' %>
                <%= link_to "Back", transactions_path, class: 'ms-2 btn btn-info' %>
                <%= button_to "Destroy this transaction", @transaction, method: :delete, class: 'ms-2 btn btn-danger' %>
              </div>
            </tfoot>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
