<div id="<%= dom_id transaction %>">
  <p>
    <strong>Transaction at:</strong>
    <%= transaction.transaction_at %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= transaction.notes %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

  <p>
    <strong>Transaction type:</strong>
    <%= transaction.transaction_type %>
  </p>

  <p>
    <strong>Wallet:</strong>
    <%= transaction.wallet_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= transaction.category_id %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= transaction.deleted_at %>
  </p>

  <p>
    <strong>User:</strong>
    <%= transaction.user_id %>
  </p>

</div>
